name: Maven SonarQube Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build, Test & Generate Reports
        run: mvn clean verify

      - name: SonarQube Analysis
        run: mvn sonar:sonar \
          -Dsonar.projectKey=ProyectoCalidadSoftware \
          -Dsonar.projectName="Proyecto Calidad Software" \
          -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
          -Dsonar.java.pmd.reportPaths=target/pmd.xml \
          -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml
