

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Build with Maven
      run: mvn -B clean verify
    - name: Run Checkstyle
      run: mvn checkstyle:check
    - name: Run PMD
      run: mvn pmd:check
    - name: Run tests and generate JaCoCo report
      run: mvn test jacoco:report
    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@master
      with:
        host: 'http://sonarqube.157.230.198.229.nip.io'
        projectKey: 'ProyectoCalidadSoftware'
        projectName: 'ProyectoCalidadSoftware'
      env:
        SONAR_TOKEN: 'sqp_65e53c9713f9e6d11f7eca947fc7e17a19ac8632'
    - name: Upload JaCoCo report
      uses: actions/upload-artifact@v3
      with:
        name: jacoco-report
        path: target/site/jacoco
    - name: Upload Checkstyle report
      uses: actions/upload-artifact@v3
      with:
        name: checkstyle-report
        path: target/checkstyle-result.xml
    - name: Upload PMD report
      uses: actions/upload-artifact@v3
      with:
        name: pmd-report
        path: target/site/pmd.html
